<ng-container *appLet="category$ | async as category">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="addTask()">
                    <ion-icon name="add"></ion-icon>
                </ion-button>
                <ion-button *ngIf="category.id === productCategoryId"
                            (click)="fromCatalog()">
                    <ion-icon name="list-box"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-title>{{ category?.name }}</ion-title>
        </ion-toolbar>

        <ion-item *ngIf="category.list.length > 0">
            <ion-text>{{ 'task-list.MANAGE' | transloco }}</ion-text>
            <ion-icon name="create"
                      *ngIf="!isListEditable"
                      (click)="editList()"
                      slot="end"></ion-icon>

            <ng-container *ngIf="isListEditable">
                <ion-icon slot="start"
                          (click)="manageAllList()"
                          [name]="getIconName()"></ion-icon>
                <ion-icon slot="end"
                          (click)="deleteFromList()"
                          name="trash"></ion-icon>
                <ion-icon slot="end"
                          (click)="markListDone()"
                          name="checkmark"></ion-icon>
                <ion-icon slot="end"
                          name="close"
                          (click)="closeEditList()"></ion-icon>
            </ng-container>
        </ion-item>

    </ion-header>

    <ion-content>
        <ion-list *ngIf="category.list.length > 0; else emptyList">

            <ion-item-sliding *ngFor="let task of category.list; let index = index; trackBy: trackByFn"
                              #slidingItem>
                <ion-item-options side="end">
                    <ion-item-option expandable
                                     color="primary">

                        <ion-button fill="clear"
                                    (click)="deleteTask(index)">
                            <ion-icon name="trash"
                                      color="danger"></ion-icon>
                        </ion-button>

                        <ion-button fill="clear"
                                    (click)="editTask(task, index, slidingItem)">
                            <ion-icon name="create"
                                      color="success"></ion-icon>
                        </ion-button>

                        <ion-button fill="clear"
                                    (click)="toggleDone(index, slidingItem)">
                            <ion-icon name="checkmark"
                                      color="yellow"></ion-icon>
                        </ion-button>

                    </ion-item-option>
                </ion-item-options>
                <ion-item>
                    <ion-chip slot="end"
                              *ngIf="task.alertTime && !task.doneStatus">
                        {{ task.alertTime | date: 'dd.MM.yy HH:mm' }}
                    </ion-chip>
                    <ion-checkbox *ngIf="isListEditable"
                                  slot="start"
                                  [checked]="(checkedTaskList$ | async)[task.id]"
                                  (ionChange)="manageTaskChecked($event, task)"></ion-checkbox>
                    <ng-container *appTaskColor="{alertTime: task.alertTime, doneStatus: task.doneStatus} as color">
                        <ion-label [color]="color"
                                   (click)="showTask(task)">
                            <h2>{{ task.name }}
                                <ng-container *ngIf="task.qty">
                                    , {{ task.qty }}
                                    <ng-container *ngIf="task.units">
                                        ({{ units?.map[task.units].label | transloco }})
                                    </ng-container>
                                </ng-container>
                            </h2>
                            <ion-text color="tertiary"
                                      *ngIf="task.description">{{ task.description }}</ion-text>
                        </ion-label>
                    </ng-container>
                </ion-item>
            </ion-item-sliding>
        </ion-list>

        <ng-template #emptyList>
            <ion-item>{{ 'task-list.EMPTY_LIST' | transloco }}</ion-item>
        </ng-template>
    </ion-content>
</ng-container>
