<ion-header>
    <ion-toolbar color="primary">

        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{ 'catalogs.T' | transloco }}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="addCatalog()">{{ 'buttons.ADD' | transloco }}</ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="categoryList$ | async as categoryList; else skeleton">

        <ion-item-sliding *ngFor="let categoryId of categoryList?.keys; trackBy: trackByFn"
                          #slidingItem>
            <ion-item-options side="end"
                              *ngIf="!categoryList?.map[categoryId].readonly">
                <ion-item-option expandable
                                 color="primary">

                    <ion-button fill="clear"
                                (click)="deleteCategory(categoryId)">
                        <ion-icon name="trash-outline"
                                  color="danger"></ion-icon>
                    </ion-button>

                    <ion-button fill="clear"
                                (click)="edit(categoryList?.map[categoryId], slidingItem)">
                        <ion-icon name="create-outline"
                                  color="success"></ion-icon>
                    </ion-button>

                    <ion-button fill="clear"
                                (click)="markAsDone(categoryId, slidingItem)">
                        <ion-icon name="checkmark-circle-outline"
                                  color="yellow"></ion-icon>
                    </ion-button>

                </ion-item-option>
            </ion-item-options>

            <ion-item *appCategoryColor="{readonly: categoryList?.map[categoryId].readonly, list: categoryList?.map[categoryId].list} as config"
                      detail
                      [routerLink]="categoryId">
                <ion-label [color]="config.color"
                           [class.readonly]="categoryList?.map[categoryId].readonly">
                    {{ categoryList?.map[categoryId].name }}
                </ion-label>
                <ion-badge [color]="config.actualTasks > 0 ? 'dark' : 'medium'"
                           slot="start">
                    {{ config.actualTasks }}
                </ion-badge>
            </ion-item>
        </ion-item-sliding>
    </ion-list>

    <ng-template #skeleton>
        <ion-list>
            <ion-item *ngFor="let item of mockArray; trackBy: trackByFn"
                      detail>
                <ion-label>
                    <ion-skeleton-text animated></ion-skeleton-text>
                </ion-label>
                <ion-badge slot="start"
                           color="medium">
                    0
                </ion-badge>
            </ion-item>
        </ion-list>
    </ng-template>
</ion-content>
