<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{ 'product-catalog.T' | transloco }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item detail
                  *ngFor="let category of productsCatalog$ | async; trackBy: trackByFn"
                  [routerLink]="category.id">
            <ion-label>{{ category?.name }}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
