<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="end">
            <ion-button (click)="close()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-row *ngIf="errorMessage$ | async as errorMessage"
             class="ion-justify-content-center ion-padding-top">
        <ion-note color="danger">
            {{ errorMessage | transloco }}
        </ion-note>
    </ion-row>

    <form [formGroup]="form">
        <ion-item>
            <ion-label>{{ 'task-list.DATE_TIME' | transloco }}:</ion-label>
            <ion-datetime displayFormat="DD MMMM YYYY HH:mm"
                          formControlName="alertTime"
                          [max]="maxYear"
                          [min]="currentYear"
                          [placeholder]="'task-list.DATE_TIME_T' | transloco"
                          [monthNames]="monthNames"
                          [pickerOptions]="customOptions"></ion-datetime>
        </ion-item>

        <ion-item>
            <ion-input formControlName="name"
                       #input
                       [placeholder]="'catalogs.INPUT_NAME' | transloco"></ion-input>
        </ion-item>
        <ion-note color="danger"
                  *ngIf="form?.dirty && form.errors?.required">
            {{ 'validators.REQUIRED' | transloco }}
        </ion-note>
        <ion-note color="danger"
                  *ngIf="form?.dirty && form?.controls['name'].errors?.pattern">
            {{ 'validators.PATTERN.SAFE' | transloco }}
        </ion-note>
        <ion-item>
            <ion-textarea formControlName="description"
                          rows="6"
                          [placeholder]="'task-list.DESCRIPTION' | transloco"></ion-textarea>
        </ion-item>

        <ion-note color="danger"
                  *ngIf="form?.dirty && form?.controls['description'].errors?.pattern">
            {{ 'validators.PATTERN.SAFE' | transloco }}
        </ion-note>

        <ion-item>
            <ion-input formControlName="qty"
                       [placeholder]="'task-list.QTY' | transloco"></ion-input>
        </ion-item>
        <ion-note color="danger"
                  *ngIf="form?.dirty && form?.controls['qty'].errors?.pattern">
            {{ 'validators.PATTERN.SAFE' | transloco }}
        </ion-note>

        <ion-select [placeholder]="'task-list.UNITS' | transloco"
                    [cancelText]="'buttons.CANCEL' | transloco"
                    [okText]="'buttons.OK' | transloco"
                    formControlName="units">
            <ion-select-option *ngFor="let unit of units.keys"
                               [value]="units?.map[unit].value">{{ units?.map[unit].label | transloco }}</ion-select-option>
        </ion-select>

        <ion-row class="ion-justify-content-between ion-padding-top">
            <ion-button color="primary"
                        (click)="manage(form)"
                        [disabled]="form.invalid">
                {{ 'buttons.SAVE' | transloco }}
            </ion-button>
        </ion-row>
    </form>
</ion-content>
